:root{
    --primary-color: #141542;
    --font-color: rgb(236, 235, 235); 
}
html{
    overflow: hidden;
    width: 100%;
}
/*---------Container Styles---------*/
body{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 1000px;
    margin: 0;
    padding: 0;
    color: var(--font-color);
}
#root{
    width: 100%;
    height: 100%;
    
}
.App{
    width: 100%;
    height: 100%;    
    margin: auto;
    background-color: var(--primary-color);
    max-width: 430px;
    max-height: 660px;
}

/*---------title---------*/

.title{
    height: 10%;
    margin: 1.5rem 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------Image section---------*/

.imgBox{
    height: 55%;
    margin: 1.5rem 40px;
    display: flex;
    flex-direction: column;
}
.place{
    display: flex;
    align-items: center;
}
.place svg{
    margin-right: 0.5rem;
}
.propertiesBox{
    height: 35%;
    margin: 1.5rem auto;
}
img{
    width: 80%;
    margin: -1rem auto -4rem;
}
h3{
    font-size: 65px;
    text-align: center;
}
.temperatureBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
}
.temperatureBox button{
    width: 90px;
    color: var(--font-color);
    font-size: 65px;
    border-radius: 1rem;
    background-color: #1a1b52;
    border: none;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 6rem;
    text-align: center;
    margin-left: 2rem;
}
.temperatureBox button .p{
    text-align: center;
}
button:hover{
    cursor: pointer;
}

/* ------transitions-----*/

.fade-enter{
    opacity: 0;
    z-index: 1;
    position: absolute;
}
.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 300ms linear 300ms;
    margin: auto;
}
.fade-exit{
    opacity: 1;
}
.fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 300ms linear;
}
.fade-exit-done{
    opacity: 0;
}